.logo_sp {
    border-radius: 50%;
    background-color: rgb(5, 255, 5);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 2rem;
    margin: 10px 0;
  }
  
  #footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7a7a7a;
    color: #fff;
    font-size: 1.1rem;
    padding: 20px;
  }
  
  a[href^="tel:"],
  a[href^="mailto:"] {
    border: 1 px solid red;
    width: max-content;
    padding: 2px;
  }
  
  a[href^="tel:"]:hover,
  a[href^="mailto:"]:hover {
    box-shadow: 0 0 5px 5px black;
  }
  
  
  #footer >  div.footer_kontakts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  
  .footer_info_ru {
    margin-bottom: 35px;
  }
  
  @media (max-width: 1360px) {
    section#block1 {
      flex-wrap: wrap;
    }
    .gallery > figure {
      flex-basis: 33.333%;
    }
  }
  
  .slider_sertificats {
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .slider_sertificats > div > h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .popup > figure > img {
    margin-top: 0;
    padding: 0;
    display: block;
    width: 500px;
  }
  
  
   .gallery > figure:hover {
    border: 1px solid #000;
   }
  
  main > section {
    padding: 50px 0;
  }
  
  #block4 > span {
    padding: 15px;
  }
  
  h3 {
    text-transform: lowercase;
  }
  .equipment > ul {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px;
    color: #fff;
  }
  
  .equipment > ul >li {
    margin: 7px 15px;
    font-size: 1.1rem;
    padding: 12px;
  }
  
  .equipment > h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .equipment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .equipment > ul >li:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px 10px #404040;
    border-radius: 40%;
  }
  
  @media (max-width: 769px) {
    body {
      padding-top: 65px;
    }
    #slider_sertificats > div.gallery {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  
  
  @media (max-width: 500px) {
    body {
      line-height: 2.4em;
    }
  
    #block1 {
      padding: 0;
      margin: 0;
    }
  
    #block1 > div > h1,
    .block_main_name {
      font-size: 1.2rem;
    }
  
    .block_main_discription {
      font-size: 2.4rem;
    }
  
    .button_fromTheCompany {
      position: inherit;
    }
  
    .equipment {
      text-align: center;
    }
  
    #footer {
      flex-direction: column;
      text-align: center;
    }
  }